/*
comentario
comentario 2
*/
h1 {
    color:blue;
}
h2 {
    color:rgb(100, 50, 10);
    font-size: 45px;
}
p {
    color:brown;
}
/*selector por ID*/
#parrafoazul {
    color:blue;
    font-family: 'Silkscreen', cursive;
}
/*selector por clase*/
.claseparrafoazul {
    color:red;
    }
.caja {
    background-color: aqua;
    height: 100px;
    font-size: 16px;
}
.caja p {
    color:black
}
.textoitalic {
    font-style: italic;
}
.textobold {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
/*fuente externa*/
* {
    font-family: 'Roboto', sans-serif;
}
/*colores*/
/*RGB (red, green, blue) de 0 a 255*/
/*hex*/
p.color {
    color: #12bc12;
}
/*rgb + alpha (0-1) OPACIDAD*/
p.coloralpha {
    font-size: 30px;
    color: rgb(5,175,200,1);
}